head
  title Merry Christmas!
  link(type="text/css" rel="stylesheet" href="./css/style.css")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Emilys+Candy&family=Dancing+Script&family=Fontdiner+Swanky&display=swap" rel="stylesheet")
  link(rel='icon' href="./background-images/favicon.ico" type='image/x-icon') 