$enable-responsive-font-sizes: true; 


//colors
$base-yellow: lighten(#F8E9A1, 15%);
$base-red: #a00707;
$base-light-blue: #A8D0E6;
$base-dark-blue: #374785;
$base-darkest-blue: #24305E; 

//fonts
$logo-font: 'Source Sans Pro', sans-serif;
$main-font: 'Heebo', sans-serif;