files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443 ssl;
          server_name  gradeielts.com;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFIjCCBAqgAwIBAgISA4fLCiP89mNdKkHkUlfuVNJKMA0GCSqGSIb3DQEBCwUA
      MDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD
      EwJSMzAeFw0yMDEyMjcxNTI2MzZaFw0yMTAzMjcxNTI2MzZaMBkxFzAVBgNVBAMT
      DmdyYWRlaWVsdHMuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
      w7GNeLxvzCsLNgM5MdGDANNAZ2azIV4EsBNqTkawcNGfOsFPKoduPyAOYFGY28ug
      JmgPKz04Oraa5zvv+oXdjDL3dvP5mlZ3AWTl/G6xf8SawNRRhSjnCy0Uq81HRQ7A
      thrIT3+I1R1d18wFmSuIHrfG8HuJZ14yHwbmApAtthC1Q37LNTeSSXbimv9uOI+/
      VY8Fm1cssuAKAoIuxC/r5/bZpCwF63EVBD5rfiJmgMKNVsvGoIgCv4POQWaQvVfR
      Eqlrj19aA4nvukCB4MhfhTozlqq3Lm29pFSTcSzFdKy2YXL4AIGDx5mGHt4Anzb6
      ewJJUt6VhA3je5KQeYEVYwIDAQABo4ICSTCCAkUwDgYDVR0PAQH/BAQDAgWgMB0G
      A1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1Ud
      DgQWBBR5c3g6/laxk1knlAP2xyFUYp9+yjAfBgNVHSMEGDAWgBQULrMXt1hWy65Q
      CUDmH6+dixTCxjBVBggrBgEFBQcBAQRJMEcwIQYIKwYBBQUHMAGGFWh0dHA6Ly9y
      My5vLmxlbmNyLm9yZzAiBggrBgEFBQcwAoYWaHR0cDovL3IzLmkubGVuY3Iub3Jn
      LzAZBgNVHREEEjAQgg5ncmFkZWllbHRzLmNvbTBMBgNVHSAERTBDMAgGBmeBDAEC
      ATA3BgsrBgEEAYLfEwEBATAoMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNl
      bmNyeXB0Lm9yZzCCAQQGCisGAQQB1nkCBAIEgfUEgfIA8AB3AG9Tdqwx8DEZ2JkA
      pFEV/3cVHBHZAsEAKQaNsgiaN9kTAAABdqUF6GoAAAQDAEgwRgIhAPBHCyPzT/2y
      oNL0+CwARA8ZuXNjGWJsAe3YLQv57kpjAiEA+69h0+NGR6gG5qKufX01sNq6EdKY
      iN0aep8GQ8mb01QAdQB9PvL4j/+IVWgkwsDKnlKJeSvFDngJfy5ql2iZfiLw1wAA
      AXalBehzAAAEAwBGMEQCIEYK6V5AVTao1MKpwOXYw60cRHksBkFaeQTn+yM02Sc7
      AiBDKJlrEmGkdX4bqWpYhIxLXg4SPT7Oy1juvNT/ERVqTDANBgkqhkiG9w0BAQsF
      AAOCAQEAmiaX8u8lID+oXeX8y9BhYXDV1fMdYxn3dtF007tFPf2HkkZ3IDi/8CNF
      P7CxP3Ek7+K8INh6stla/kT8J0UlLBVmU7Q6AFEQgsLLneH84HYD+hN5qWLQQGg9
      e4WPxBQUcNmUpHtUozCdIHnw+CEZdhcIr8EyyFwTACOXNageMtSEFWcLxNL/W2XE
      B9TSpgqLiC/kc4WitBX6ei/Ii+grKjTRvfWou9UUpDz5WtsDIdJTRl+7a2NC1PHF
      mYUhLUdwEuDif5LyUDXsaiZYZgRZjKkjBuyfA1Ot/gVEGTTielitFW10aOjiZjKt
      GbFd8/HwMJMA6tOX1/Z9/AL1COpqPA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDDsY14vG/MKws2
      Azkx0YMA00BnZrMhXgSwE2pORrBw0Z86wU8qh24/IA5gUZjby6AmaA8rPTg6tprn
      O+/6hd2MMvd28/maVncBZOX8brF/xJrA1FGFKOcLLRSrzUdFDsC2GshPf4jVHV3X
      zAWZK4get8bwe4lnXjIfBuYCkC22ELVDfss1N5JJduKa/244j79VjwWbVyyy4AoC
      gi7EL+vn9tmkLAXrcRUEPmt+ImaAwo1Wy8agiAK/g85BZpC9V9ESqWuPX1oDie+6
      QIHgyF+FOjOWqrcubb2kVJNxLMV0rLZhcvgAgYPHmYYe3gCfNvp7AklS3pWEDeN7
      kpB5gRVjAgMBAAECggEAZxLjGB/wptJZMlbaTkIzRUD/4Da4zS9vOqrPSHF1R8cx
      nknpf9YbnIYu7E6uO77yGKigrL6vGkXKK1dnnEXcHpdNvsrcwo0eW46gkKhhN5H/
      jOeIFKIpp7pT8/XIvzf5CzHqJe1fzhiMsDhXDoleRge4cjwvcFGuBqekiN8WJJmW
      emwD+sOthqb8wyDdogkvoeP2n4rVamcxiGYbDUti3pDfLGW58aebtD4xX12B2xnm
      RGxmS5UkeHYtKQNod86NiXjTsxQdj91TY/NdW+hsUzf11nK5j5HWG32TBg1O5Eea
      DuN4/yGNlD30iWufnx3LQT1rARV/85gGuPPKRBkFCQKBgQDkb0f20bKEIlh6citB
      22TaN45z5DddYKa6ZANlw9s1skf1glhE8+RdgGtqochE12T4lE8l2nltMsMACcJk
      FsppR4XQffE8T8cP1DcsjYE+H0qLDPnElJZFRwno+deI2yj+z5QUQv0nL/XJYa6U
      cXvhW2L5q5xhiTuzqFSZLx/uVQKBgQDbTthK08JXNRgySY1GsTOxbPkVGsALcU7e
      0lg5l1YghXf3+dUSQrdbfQRU1nUDewQd3j2hIx6jzoPoDdMUDo6cmqgaNlO/JU3e
      A0fGhE7ZWFFhmzJaW+BXpEZHcp8HQ+9tcthAwd3EJXaRGWl4CgEAI1kA8uhXMtnD
      ipMDboQ81wKBgQDfnFMsuB7wm5JS4lmX0QTLW+D1bywHGyp6gJaW0n9N8+Pe3yY6
      8SfVo3UC37VkNhkgAEXt/wwoKa2a5vLD+U9QeXPzIKW5bTqmMw2Dbk1am1TkAuKo
      XO8wh5aa2Z7z190sedQxdVXMO3V1GUrFAsXKVyPu1N9y1tx7REbz4J54NQKBgBhT
      6L50Oyy9YQ/DBP8AjUFzWzYyH3elfCBPqSXKWe2FoMdLWY2LBRgLCD35BEX8kXpW
      uvNzF+UH9a36Sp4A92T76wXtXODpXHfyWTX2W2DU4UI4mx9W7c4LFRi76FQ//wFf
      KgoU92rY1QxHi2GbinzfbvIiABAcPffpGWHaEqVFAoGBAJOyK4pmZ9mkUtOmcKUx
      YP9xiV9vRsVrufR/qW9lWJf/OsS1+WU/ysMLw5iQgVmCRozfcp2iWuq+NUKMprxV
      RBWJ6mIwefDeS+K/VwhxCYH/U+VAfkFi5BMqVtikrKD06xQlNxQVVovORRKxSvkY
      ysUxXP5OsU3yWXS41V7G3MoS
      -----END PRIVATE KEY-----