include ../mixins/mixins.pug

div(class="jumbotron jumbotron-fluid pt-0 pb-3 rounded-top rounded-bottom")
  +section-header('Ready to find out your IELTS score?', 'get-started')
  div(class="container d-flex justify-content-center")
    a(id="lets-go" class="btn btn-block btn-lg" type="button" href="/get-started") Let's Go!

