div(class="container-fluid" id="logo")
  div(class="row")
    div(id="branding" class="col-12 col-md-6")
      a(class="" href="/")
        span(class="") Grade
        img(class="" src="../images/IELTS-logo.png" alt="IELTS Grader" width="100" height="auto") 
    div(class="col-12 col-md-6" id="slogan")
      p Feedback and support from IELTS experts