include ../mixins/mixins.pug

div(class="jumbotron jumbotron-fluid")
  +section-header('Our Fees', 'our-prices')
  ul(class="price-list list-group-flush")
    li(class="list-group-item")
      div(class="row")
        div(class="col-12 col-md-8 item") Guiding IELTS Writing Score:
        div(class="col-12 col-md-4 price") $20
      div(class="row")
        div(class="col-12 more-info") 
          small Get an estimated bandscore. Perfect if you are about to take the exam and want an idea of your writing score. 
    li(class="list-group-item")
      div(class="row")
        div(class="col-12 col-md-8 item") Detailed Feedback on Writing or Speaking:
        div(class="col-12 col-md-4 price") $30
      div(class="row")
        div(class="col-12 more-info") 
          small Get your writing task back full of comments and suggestions to help you make the necessary changes to get the best score possible. 
    li(class="list-group-item")
      div(class="row")
        div(class="col-12 col-md-8 item") 1-1 Tutoring:
        div(class="col-12 col-md-4 price") 
          a(class="btn" href="/#contact-us") contact us for a quote
      div(class="row")
        div(class="col-12 more-info") 
          small Ideal for those looking to learn more about what specifically they need to do to get the IELTS score they require. 