extends template.pug

block content
  div(class="jumbotron jumbotron-fluid expert-entry")
    +section-header('Our Experts', 'experts')
    +teacherProfile('chris-profile', 'Chris Storrs-Fox', '../images/teacher-photos/chris.jpg', 'picture of Chris Storrs-Fox', "Chris is an expert in IELTS and has spent much of the last 10 years working with students across Europe and Asia to help them get the score they need. He's also worked as an IELTS Speaking Examiner and academic manager at Vietnam's largest language training organisation, where he supported the development of an IELTS curriculum used by over 1000 students nationwide.")
    +teacherProfile('greg-profile', 'Gregory Donohue', '../images/teacher-photos/greg.jpg', 'picture of Gregory Donohue', "Gregory is an English language teacher with extensive experience teaching exam English in China, Vietnam and the US. He most recently worked as a Senior Academic Manager at Vietnam's largest English language training organization where he delivered comprehensive IELTS training to more than 100 team members.")
    +teacherProfile('rich-profile', 'Rich Portman', '../images/teacher-photos/rich.jpg', 'picture of Rich Portman', "Rich is an English language expert based in Hong Kong with over 10 years of experience in English language education. He has extensive experience working with learners throughout Asia and regularly delivers training to teachers on how to get the most from students.")


