extends template.pug


block content
  include ../page-sections/welcome-jumbo
  include ../page-sections/offer-section
  include ../page-sections/price-section
  include ../page-sections/contact-section
