html 
  head
  include ../page-sections/head.pug

body
  include ../page-sections/navbar
  include ../mixins/mixins



  
  main
    block content

  footer
    include ../page-sections/footer
    include ../page-sections/javascript_files
    include ../page-sections/tawkto.pug
